<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bem Vindo {{ nome }}</title>
</head>

<h1>Bem vindo</h1>



<body background="https://images5.alphacoders.com/567/567661.jpg">
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Nome da mae</th>
            <th>Tiulacao</th>
        </tr>
        <tr>
            <td>{{professor[0]}}</td>
            <td>{{professor[1]}}</td>
            <td>{{professor[2]}}</td>
            <td>{{professor[3]}}</td>
        </tr>
</body>
</html>
</table>